body {
	background-image:url("https://img.wallpapersafari.com/tablet/2560/1700/43/24/lwTb0a.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height:100vh;
    width:100%;
}

.home-content {
	text-align: center;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	color: white;
}

.home-footer {
	position: absolute;
	top:95%;
	left:50%;
	transform: translateX(-50%) translateY(-90%);
	color: white;
}

.white-text{
	color: white;
}

.jumbotron
{
	background-color: transparent;
	align-items: center;
}
.jumbotron .display-4
{
	color: white;
	margin-top: 200px;
	text-shadow: 2px 2px 4px #000000;
}
.jumbotron .lead
{
	text-shadow: 2px 2px 4px #000000;
}
.jumbotron p
{
	color: white;
	font-size: 25px;
	text-shadow: 2px 2px 4px #000000;
}
.jumbotron hr
{
	border-color: rgba(150,145,255,0);
	width: 70px;
	border-width: 3px;
}
.jumbotron .btn
{
	background-color: rgb(150,145,255);
	border: none;
}